@reference "../../../app/globals.css";

.category-card {
  @apply inline-flex items-center justify-center px-3 py-3 text-center text-[var(--color-text-base)] rounded-xl cursor-pointer select-none border border-transparent;
  transition: background-color 0.2s, border-color 0.2s;
  width: min-content;
  max-width: 100%;
}

.category-card.selected {
  @apply border border-[var(--color-primary)];
}

.category-card:not(.selected):hover {
  @apply bg-[var(--color-bg-base-light)] text-[var(--color-text-secondary)];
}

.category-card:not(.selected):active {
  @apply bg-[var(--color-bg-base)] text-[var(--color-text-base)];
}
.category-card.accent {
  @apply border-transparent bg-[var(--color-bg-base-light)];
}

.category-card.accent .category-card__accent-text,
.category-card__accent-text {
  color: var(--color-error) !important;
}

.category-card.accent:not(.selected):hover {
  @apply bg-[var(--color-bg-base)];
}

.category-card.accent:not(.selected):hover .category-card__accent-text {
  color: var(--color-button-accent-hover) !important;
}

.category-card.accent:not(.selected):active {
  @apply bg-[var(--color-bg-base)];
}

.category-card.accent:not(.selected):active .category-card__accent-text {
  color: var(--color-button-accent-pressed) !important;
}
