@import "tailwindcss";

:root {

}

@theme {
  --color-*: initial;
  /* Black */
  --color-nearly-black: #5E5E5E;
  --color-middle-black: #3C3B3B;
  /* Grey */
  --color-white: #FFFFFF;
  --color-xlight-grey: #F3F3F3;
  --color-light-grey: #E5E5E5;
  --color-grey: #C9C9C9;
  --color-silver-grey: #BABABA;
  --color-dusk-grey: #A6A6A6;
  --color-background: #6E6E6E;
  /* Red */
  --color-red-error-attention: #F43331;
  --color-red-brand: #DD1A32;
  --color-red-hover: #C7172D;
  --color-red-pressed: #B11528;
  /* Green */
  --color-lime: #9EEF90;
  --color-olive-light: #AEE3A8;
  --color-olive: #61A444;
  --color-olive-hover: #4E8D39;
  --color-olive-pressed: #2E5621;
  /* Other */
  --color-yellow: #FFE787;
  --color-blue: #9BBAFF;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background: var(--color-light-grey);
  color: var(--color-nearly-black);
  font-family: var(--font-roboto), sans-serif;
}
